@import "compass";

$body-copy-font: Helvetica, Arial;
$heading-font: Georgia, Trebuchet, Helvetica, Arial;
$root-font-size: 16;

$default-transition-function: ease-in;
$default-transition-duration: 0.2s;