//breakpoints
$large-desktop: 1280px;
$small-desktop: 960px;
$tablet: 768px;
$mobile: 320px;

$qb-breakpoints: $mobile, $tablet, $small-desktop, $large-desktop;

@mixin width-above($breakpoint){
	@media only screen and (min-width: $breakpoint){
		@content;
	}
}
@mixin width-below($breakpoint){
	@media only screen and (max-width: $breakpoint){
		@content;
	}
}
@mixin width-between($start, $end){
	@media only screen and (min-width: $start) and (max-width: $end - 1px){
		@content;
	}
}
@mixin width-matches($size){
	$i: 1;
	@each $breakpoint in $qb-breakpoints{
		@if ($breakpoint == $size){
			//we've hit the correct breakpoint
			
			@if $i == 1{
				//smallest item in the list
				@include width-below(nth($qb-breakpoints, 2) - 1px){
					@content;
				}
			}
			@else if $i == length($qb-breakpoints){
				//biggest item in the list
				@include width-above($size){
					@content;
				}
			}
			@else{
				//any other item
				@include width-between($size, nth($qb-breakpoints, $i+1)){
					@content;
				}
			}
		}
		$i: $i+1;
	}
}

/*
//mixin formedia queries
@mixin breakpoint($point){
	@if $point == large-desktop{
		@media only screen and (min-width: $media-large-desktop){
			@content;
		}
	}
	@if $point == small-desktop{
		@media only screen and (min-width: $media-small-desktop) and (max-width: $media-large-desktop - 1px){
			@content;
		}
	}
	@if $point == tablet{
		@media only screen and (min-width: $media-tablet) and (max-width: $media-small-desktop - 1px){
			@content;
		}
	} 
	@if $point == mobile{
		@media only screen and (max-width: $media-tablet - 1px){
			@content;
		}
	}
}*/

//prevents some elements from overflowing
img, 
table, 
td, 
blockquote, 
code, 
pre, 
textarea, 
input, 
video{
	max-width: 100%;
}