//cancel default margins & paddings
html,
body,
textarea,
figure,
label {
	margin: 0;
	padding: 0;
}

//correct display values for legacy browsers
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
}

//switching box model
*, *:after, *:before{
	@include box-sizing(border-box);
}